
:root{
    --first-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;
    --normal-font-size: 1rem;
    --samll-font-size: .75rem;
    
  }

.form1{
 margin-top: 8rem;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 50vh;
    padding: 2rem 2rem;
    border-radius: .5rem;
    /* border: 1px solid black; */
    box-shadow: 0 10px 25px Rgba(92,99,105,.2)
}

select{
    width: 50%;
    padding: .4rem;
    margin-top: 4rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
select:focus{
    border: 1.5px solid var(--first-color)

}

h1{
    text-align:  center;
}

.formButton1{
    display:block;
    /* margin-left: auto; */
    margin-top: 2rem;
    margin-left: 30%;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    width: 40%;
  }
  
  .formButton1:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  
  }
  
